{% extends 'base.html' %}

{% block title %}
    Reset password - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="col col-4">
    {% if validlink %}
      <div>
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_new_password1">New password:</label>
            <div>{{ form.new_password1 }}</div>
            <small class="form-text text-muted">{{ form.new_password1.errors }}.</small>
          </div>
          <div class="form-group">
            <label for="id_new_password2">Confirm password:</label>
            <div>{{ form.new_password2 }}</div>
            <small class="form-text text-muted">{{ form.new_password2.errors }}</small>
          </div>
          <button type="submit" value="Change my password" class="btn btn-success">Change password</button>
        </form>
      </div>
    {% else %}
      <div><h1>Password reset failed</h1></div>
      <div>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
