{% extends 'base.html' %}

{% block title %}
    Reset password - {{ block.super }}
{% endblock %}

{% block content %}
  <div class="col col-4">
    <form action="" method="post">
      {% csrf_token %}

      {% if form.email.errors %}
        <div class="alert alert-danger">
          {{ form.email.errors }}
        </div>
      {% endif %}

      <div class="form-group">
        <div>{{ form.email.label_tag }}</div>
        <div>{{ form.email }}</div>
      </div>
      <button type="submit" class="btn btn-success" value="Reset password">Send</button>
    </form>
  </div>
{% endblock %}
